@page "/"
@inject HttpClient Http
@inject AppState AppState
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@implements IDisposable

<h1>Welcome</h1>

@code {
    private async Task AppState_StateChanged(ComponentBase source, string property)
    {
        if (source != this)
        {
            await InvokeAsync(StateHasChanged);
        }
    }

    void IDisposable.Dispose()
    {
        AppState.StateChanged -= async (source, property) => await AppState_StateChanged(source, property);
    }
}
