@page "/simulation"
@inject AppState AppState
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage


<table class="table">
    <thead>
        <tr>
            <th scope="col">Vehicles</th>
            <th scope="col">todo:</th>
            <th scope="col">todo:</th>
            <th scope="col">todo:</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <SimulationTransport Vehicles="AppState.Vehicles" VehiclesTemplates="AppState.VehicleTemplates"/>
            </td>
            <td>
                Todo
            </td>
            <td>
                todo
            </td>
            <td>
                todo
            </td>
        </tr>
    </tbody>
</table>

@code {

}
