@page "/results"
@inject AppState AppState
@implements IDisposable

<div class="container-fluid h-100">
    <div class="row" style="margin-bottom: 20px">
        <div class="col-md-6">
            <FileUploader/>
        </div>
    </div>

    <div class="row" style="margin-bottom: 20px">
        <div class="col-md-6">
            <strong>Simulation ID:</strong> @AppState.CurrentSimulationHistory.Parameters.SimulationIdentifier
        </div>
        <div class="col-md-6">
            <strong>Random Seed:</strong> @AppState.CurrentSimulationHistory.Parameters.RandomSeed
        </div>
    </div>

    <div class="row" style="margin-bottom: 20px">
        <div class="col-12">
            <form class="form-inline">
                <div class="form-group pb-3" style="width: 100%">
                    <label for="steps" style="margin-right: 10px">Simulation steps</label>
                    <input class="form-control" type="range" id="steps" style="flex: 1" min="0" @value="0">
                </div>
            </form>
        </div>
    </div>

    <div class="row" style="margin-bottom: 20px">
        <div class="col-4 border border-secondary">
            <div style="text-align: center">
                <strong>Vehicles</strong>
            </div>
        </div>
        <div class="col-4 border border-secondary">
            <div style="text-align: center">
                <strong>Open Orders</strong>
            </div>
        </div>
        <div class="col-4 border border-secondary">
            <div style="text-align: center">
                <strong>Closed Orders</strong>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom: 20px">
        <div class="col-12 border border-secondary">
            <div style="text-align: center">
                <strong>Map</strong>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom: 20px">
        <div class="col-12 border border-secondary">
            <div style="text-align: center">
                <strong>Graphs / Stats</strong>
            </div>
        </div>
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        // Register app state changed event
        AppState.StateChanged += async (source, property) => await AppState_StateChanged(source, property);
    }

    private async Task AppState_StateChanged(ComponentBase source, string property)
    {
        if (source != this)
        {
            await InvokeAsync(StateHasChanged);
        }
    }

    void IDisposable.Dispose()
    {
        AppState.StateChanged -= async (source, property) => await AppState_StateChanged(source, property);
    }
}
